body {
  background-color: rgb(102, 186, 246);
  color: white;
  width: 500px;
  margin: 0 auto;
}

input {
  height: 20px;
}

button {
  padding: 5px 20px;
  border-style: none;
  background-color: rgb(6, 125, 215);
  color: white;
}
